body{
    font-family: sans-serif;
    margin: 0;
}

.p1{
    background-color: gray;
    color: white;
    height: 20px;
    font-size: 12px;
    position: relative;
    text-align: center;
}

.p2{
    background-color: black;
    color: white;
    height: 20px;
    font-size: 12px;
    position: relative;
    text-align: center;
    top: -18px;
}

h1{
    position: relative;
    text-align: center;
    top: -25px;
    font-weight: 300;
}

.p3{
    position: relative;
    text-align: center;
    top: -35px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 25px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

nav ul li a:hover{
    color: salmon;
}

ul li{
    position: relative;
    display: inline;
    padding: 100px;
    left: 100px;
    
}

.head{
    height: 700px;
    width: 100%;
    display: block;
    margin: auto;
}

.tbl{
    position: absolute;
    top: 210px;
    background-color: beige;
    width: 100%;

}
table{
   position: relative;
   left: 120px;
   background-color: beige;
}

.tbl img {
    height: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.tbl img:hover {
    transform: scale(1.1); /* Increase size of image when hovered */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /* Add shadow effect when hovered */
}

table, tr, td{
    border-spacing: 30px;
}

.black {
    position: absolute;
    background-color: black;
    height: 1000px;
    width: 1400px;
    opacity: 50%;
    top: 2px;
}

.laki img{
    height: 400px;
    width: 400px;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative; 
}

.back{
    position: absolute;
    font-size: 80px;
    font-weight: bolder;
    color: white;
    top: 300px;
    left: 380px;
}

.next{
    position: absolute;
    font-size: 80px;
    font-weight: bolder;
    color: white;
    top: 300px;
    left: 920px;
}

.x{
    position: absolute;
    font-size: 25PX;
    left: 850px;
    top: 25px;
    font-weight: bold;
    color: black;
}

.next:hover,
.back:hover {
    color: black;
}

.x:hover{
    color: red;
}